body{
    background-color: #F2FAFA;
}

.nav-bg{

    background-color: #e6f2ff;
}
.name{
    ckground-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    height: auto;
}

.custom_menu a{
    border-right: 2px solid gray;
    margin-top: 6px;
    font-size: 15px;
}

.main_sect{
    padding-left: 0px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.sect_1{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    margin-bottom: 30px;
    padding: 25px;
}

.sect_1 img{
    margin-right: 20px;
    color: black;
    font-weight: bold;
    border-color: black;
}
.sect_1 p{
    font-weight: bold;
    text-align: justify;
}
.sect_2{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}

.icon-size{
    padding: 25px;
}
.foot{
    background-color: black;
    color: white;
    text-align: center;
    padding: 25px;
    font-size: 20px;
}
.imgs img{
    margin-bottom: 20px;
    position: relative;
}
.imgs p{
    position: absolute;
    left: 40px;
    bottom:15px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

.cust-btn{
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    padding: 15px;
    color: white;
    margin-top: 20px;
    font-weight: bold;
}
.pg-title{
    color: white;
    font-weight: bold;
    margin-top: 20px;

}