p{
    text-align: justify;
}

.name{
    background-color:#17a4b7;
    margin-top:30px;
    height:auto;
}

.p_name{
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 18px;
}
.custom_nav{
    margin-top:30px;
    border: none;
    font-size: 15px;
    margin-right: 115px;
}
.custom_a{
    text-decoration: none;
    color:gray;
}
.custom_li{
    border-right: 2px solid gray;
}
.sect_1{
    background-color: #e6e5cf;
    height: auto;
    padding-left: 15px;
}
.sect1_div1{
    margin-top: 25px;
    padding-left: 0px;
}
.custom_p{
    display: inline;
}
.part_1{
    background-color: white;
}
.row_2{
    padding-left: 0px;
    margin-bottom: 40px;
}
.sect1_div2{
    margin-top: 25px;
}
.temp{
    margin-right: 0px;
}
.sect_2{
    background-color: black;
    color: white;
}
.sect2_p{
    text-align: center;
    padding: 25px;
}